html,
body {
  padding: 0;
  margin: 0;
  font-family: "Helevetica Neue", sans-serif;
  font-size: 10px;
  color: #19232d;
  background-color: #fdfdfd;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

blockquote {
  background-color: #ff7e7e;
  color: white;
  padding: 1rem;
  border-radius: 12px;
}
