.description {
  color: #828c96;
  margin-top: 0;
  padding-bottom: 3rem;
  line-height: 1.59;
  font-size: 1.51rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
  border-bottom: 1px solid #dce6f0;
}

.header2 {
  font-size: 2rem;
  margin-bottom: 2.4rem;
}

.post {
  margin-bottom: 4.1rem;
  border-bottom: 1px solid #dce6f0;
}

.post__title {
  font-size: 2.7rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  position: relative;
}

.post__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #19232d;
  transform: scale(0);
  transform-origin: center;
  transition: transform 300ms;
}

.post__title:hover::after,
.post__title:focus::after {
  transform: scale(1);
}

.post__info {
  font-size: 1.4rem;
  font-family: "Inter", monospace;
  line-height: 1.75;
  color: #828c96;
  margin-top: 0;
  margin-bottom: 0.6rem;
}

.post__text {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.59;
  font-size: 1.51rem;
  font-weight: 400;
  text-align: justify;
}

.grey {
  color: #828c96;
}

.grey:hover {
  color: black;
}

.page_button.active {
  background-color: #19232d;
  color: #dce6f0;
}

.page_button {
  margin-right: 0.8rem;
  background-color: #dce6f0;
  color: #19232d;
  padding: 0.35rem 0.9rem;
  font-family: "Inter", monospace;
  border-radius: 0.4rem;
  font-size: 1.15rem;
  border: none;
  cursor: pointer;
}
