.post__title {
  font-size: 4.3rem;
  margin-bottom: 2rem;
}

.bio__title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.post__info {
  font-size: 1.4rem;
  font-family: "Inter", monospace;
  line-height: 1.75;
  color: #828c96;
  margin-top: 0;
  margin-bottom: 0.6rem;
}

.post__content {
  line-height: 1.59;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
  text-align: justify;
}
